body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #353535;
    font-weight: 500;
    background-color: #F7F8FD;

}

.container {
    width: 1328px;
    margin: 0 auto;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #353535;

}

.content {
    width: 1328px;
    height: 765px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 48px;
    gap: 48px;
    background: #FFFFFF;
}

.cont1, .cont2 {
    width: 380px;
    height: 562px;
}

.vib {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 26px;
    gap: 10px;

    width: 380px;
    height: 44px;

    border: 1px solid #848484;
    border-radius: 4px;

    /* Inside auto layout */
    font-family: 'Raleway', sans-serif;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cont2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 380px;
    height: 384px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.cont3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 252px;
    height: 35px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.expenses-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 26px;
    gap: 10px;

    /*width: 119px;*/
    /*height: 35px;*/
    border: 1px solid #848484;
    background: #FDC73A;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.income-btn {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 26px;
    gap: 10px;

    width: 113px;
    height: 35px;

    border: 1px solid #848484;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.cont1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    width: 380px;
    height: 562px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

a {
    text-decoration: none;
    color: black;
}

.contVivod {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 380px;
    height: 112px;
    margin-top: 45px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

p {
    width: 380px;
    height: 44px;

    background: #F7F8FD;
    border-radius: 4px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 auto;

}

.contviewInfomation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;

    width: 380px;
    height: 184px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

hr {
    width: 0px;
    height: 600.5px;

    border: 1px solid #B9B9B9;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.conclusion, .input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 26px;
    gap: 10px;

    width: 380px;
    height: 44px;

    background: #FDC73A;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    /* Inside auto layout */
    border: 0;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.reset {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 26px;
    gap: 10px;

    width: 197px;
    height: 35px;

    opacity: 0.5;
    border: 1px solid #353535;
    border-radius: 20px;

    margin-top: 50px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.contInputdata {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 380px;
    height: 249px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.expenses-btn, .income-btn, .input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont3 {
    margin-bottom: 40px;
}